root {
    theme-color: #788a76
    headingcolor #6ed198
    heading-color #6c757d
}




.navbar {
      background-color: #788a76;
}
.cover {
    background-color: #788a76!important;
}
.letter {
    background-color: #788a76!important;
}
.main {
    background-color: #788a76!important;
}
.title {
    color: #6ed198!important;
}

.overlay {
    width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rowan {
    background-color: #788a76!important;
  }
  .moran {
    background-color: #788a76!important;
  }
  .logo {
    background-color: #788a76;
  }
  .butnory {
    width: 50%;
  }






  



